---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contador de cacas">
	<main>
		<div class="flex justify-center mt-10">
			<h1 class="font-bold text-4xl bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text">Contador de cacas</h1>
		</div>

		<div class="text-white flex justify-center mt-10">
			<span class="text-lg mx-10">Introduce tu archivo de Whatsapp:</span>
			<input
				type="file"
				class="text-sm text-slate-500
					file:mr-4 file:py-2 file:px-4
					file:rounded-full file:border-0
					file:text-sm file:font-semibold
					file:bg-violet-50 file:text-violet-700
					hover:file:bg-violet-200"/>
		</div>

		<div class="flex justify-center mt-10">
			<div class="bg-purple-100 p-2 rounded-full">
				<label for="startDate">Fecha de Inicio:</label>
				<input type="date" id="startDate" />
				<label for="endDate">Fecha de Fin:</label>
				<input type="date" id="endDate" />
			</div>
		</div>

		<div class="flex justify-center mt-10">
			<button id="submitButton" class="bg-white text-violet-700 px-5 py-2.5 rounded-full font-semibold" >Comprobar</button>
		</div>

		<div class="bg-white mt-10 w-28 p-3 m-auto">
			<div class="flex">
				<span class="font-semibold mr-1">Javi:</span>
				<span id="cacasJavi"></span>
			</div>
			<div class="flex">
				<span class="font-semibold mr-1">Valen:</span>
				<span id="cacasValen"></span>
			</div>
			<div class="flex">
				<span class="font-semibold mr-1">Daniela:</span>
				<span id="cacasDaniela"></span>
			</div>
			<div class="flex">
				<span class="font-semibold mr-1">Josh:</span>
				<span id="cacasJosh"></span>
			</div>
		</div>
	</main>
</Layout>

<script>
	const submitButton = document.getElementById("submitButton");

	if (submitButton != null) {
		submitButton.addEventListener("click", () => {
			const files = document.getElementsByTagName("input")[0].files;
			if (files != null) {
				const file = files[0];
				const reader = new FileReader();

				reader.onload = function (event) {
					if (event.target != null) {
						
						const text = event.target.result != null ? event.target.result : '';
						const startDate = new Date((document.getElementById('startDate') as HTMLInputElement).value);
						const endDate = new Date((document.getElementById('endDate') as HTMLInputElement).value);
						startDate.setHours(0, 0, 0, 0);
						endDate.setHours(23, 59, 59, 999);

						if (typeof(text) == 'string') {
							const datePattern = /\[(\d{1,2}\/\d{1,2}\/(\d{2,4})), (\d{1,2}:\d{2}:\d{2})\]/g;
							const lines = text.split('\n');

							const patternJavi  = /Javi: 💩/g
							const patternValen = /Valen: 💩/g
							const patternLai   = /Lai 💕: 💩/g
							const patternJosh  = /Josh : 💩/g

							let countJavi  = 0;
							let countValen = 0;
							let countLai   = 0;
							let countJosh  = 0;

							lines.forEach(line => {
								const dateMatch = line.match(datePattern);

								if (dateMatch) {
									
									const dateSplit = dateMatch[0].split('/');
									const messageDate = new Date('20' + dateSplit[2].split(',')[0] + "-"  + (dateSplit[1].length === 1 ? '0' + dateSplit[1] : dateSplit[1]) + "-"  + (dateSplit[0].length === 1 ? '0' + dateSplit[0].replace("[","") : dateSplit[0].replace("[","")));

									if (messageDate >= startDate && messageDate <= endDate) {

										const javiMatches  = line.match(patternJavi);
										const valenMatches = line.match(patternValen);
										const laiMatches   = line.match(patternLai);
										const joshMatches  = line.match(patternJosh);

										if (javiMatches) {
											countJavi  += javiMatches.length;
										} if (valenMatches) {
											countValen += valenMatches.length;
										} if (laiMatches) {
											countLai   += laiMatches.length;
										} if (joshMatches) {
											countJosh  += joshMatches.length;
										}
									}
								}
							})

							document.getElementById("cacasJavi").innerHTML    = countJavi;
							document.getElementById("cacasValen").innerHTML   = countValen;
							document.getElementById("cacasDaniela").innerHTML = countLai;
							document.getElementById("cacasJosh").innerHTML    = countJosh;
						}	
					}
				};
				reader.readAsText(file);
			}
		});
	}
</script>

<style></style>
